<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumon.studymate">

    <uses-sdk tools:overrideLibrary="com.github.johnpersano.supertoasts.library" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddSemesterActivity"
            android:parentActivityName=".activity.SemesterListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddCoursesActivity"
            android:parentActivityName=".activity.CourseListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SemesterListActivity"
            android:parentActivityName=".activity.LauncherActivity" />
        <activity
            android:name=".activity.TeacherListActivity"
            android:parentActivityName=".activity.LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddTeacherActivity"
            android:parentActivityName=".activity.TeacherListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CourseListActivity"
            android:parentActivityName=".activity.LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddAssignmentActivity"
            android:parentActivityName=".activity.AssignmentListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AssignmentListActivity"
            android:parentActivityName=".activity.LauncherActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".receiver.AlarmReceiverForClassTest"
            android:process=":remote" />
        <receiver
            android:name=".receiver.AlarmReceiverForAssignments"
            android:process=":remote" />

        <service
            android:name=".service.MyAlarmServiceForClassTest"
            android:enabled="true" />
        <service
            android:name=".service.MyAlarmServiceForAssignments"
            android:enabled="true" />

        <activity
            android:name=".activity.AddClassTestActivity"
            android:parentActivityName=".activity.ClassTestListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ClassTestListActivity"
            android:parentActivityName=".activity.LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ClassTestNotificationActivity"
            android:parentActivityName=".activity.LauncherActivity" />
        <activity
            android:name=".activity.AssignmentsNotificationActivity"
            android:parentActivityName=".activity.LauncherActivity" />
        <activity
            android:name=".activity.RoutineWizerdActivity"
            android:parentActivityName=".activity.LauncherActivity" />
        <activity
            android:name=".activity.RoutineInfoListActivity"
            android:parentActivityName=".activity.LauncherActivity" />
        <activity
            android:name=".activity.AddRoutineActivity"
            android:parentActivityName=".activity.RoutineInfoListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.LauncherActivity"></activity>
    </application>

</manifest>