<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumon.studymate">

    <uses-sdk tools:overrideLibrary="com.github.johnpersano.supertoasts.library" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSemesterActivity"
            android:parentActivityName=".SemesterListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddCoursesActivity"
            android:parentActivityName=".CourseListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SemesterListActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".TeacherListActivity"
            android:parentActivityName=".LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddTeacherActivity"
            android:parentActivityName=".TeacherListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CourseListActivity"
            android:parentActivityName=".LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAssignmentActivity"
            android:parentActivityName=".AssignmentListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AssignmentListActivity"
            android:parentActivityName=".LauncherActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".AlarmReceiverForClassTest"
            android:process=":remote" />
        <receiver
            android:name=".AlarmReceiverForAssignments"
            android:process=":remote" />

        <service
            android:name=".MyAlarmServiceForClassTest"
            android:enabled="true" />
        <service
            android:name=".MyAlarmServiceForAssignments"
            android:enabled="true" />

        <activity
            android:name=".AddClassTestActivity"
            android:parentActivityName=".ClassTestListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClassTestListActivity"
            android:parentActivityName=".LauncherActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClassTestNotificationActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".AssignmentsNotificationActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".RoutineWizerdActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".RoutineInfoListActivity"
            android:parentActivityName=".LauncherActivity" />
        <activity
            android:name=".AddRoutineActivity"
            android:parentActivityName="RoutineInfoListActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>